/* stylelint-disable selector-list-comma-newline-after */
html {
  overflow: auto;
}

body {
  width: 100%;
  overflow: hidden;
}

.wrap {
	overflow: hidden;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 4rem;
  text-align: center;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.jumbotron {
  background-image: url("image/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.site-title {
  background: url("image/header2.jpg") center;
  text-align: center;
  font-size: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.site-description {
  background: url("image/header2.jpg") center;
  text-align: center;
  font-size: 2.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.lead {
  text-align: center;
  font-size: 1rem;
  margin: 0px, 5px;
}

.button {
  text-align: center;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-success {
  margin: 20px;
  padding: 5px 40px;
}


.display-4 {
  font-size: 4.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.product-title {
  font-size: 1rem;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.Profile {
  text-align: center;
  padding: 1em 1em;
  margin: 50px auto;
}

.hoge {
  text-align: center;
}

.icon {
  width: auto;
  height: 250px;
  border-radius: 50%;
  margin: 20px auto;
  text-align: center;
}

.tech-icon {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  display: inline-block;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 0 0 2em;
}

.flexbox > div {
  background: #ddd;
  padding: 1em;
  flex: 1 0 300px;
  margin: 0.4em;
}


<style type="text/css">
.toggle-box {
  border: 1px solid #aaaaaa;
  margin: 10px;
  padding: 10px;
  display: none;
}
</style>

.section-content {
  text-align: center;
}

.Work{
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-content-image {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.Contact {
  background-color:#444444;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-form {
  width: 90%;
  margin: 10px auto 0;
}

.contact-form input[type=text], .contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  border: 2px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.05);
  border-radius: 0;
  color: #fff;
}

.contact-form input[type=submit] {
  display: block;
  margin: 40px auto 0;
  padding: 15px;
  width: 200px;
  background-color: transparent;
  border-radius: 5px;
  color: rgba(255,255,255,0.6);
  cursor: pointer;
  text-align: center
}

.contact-form textarea {
  height: 250px;
}

.Calendar {
  margin: 40px;
  text-align: center;
  color: black;
}

.gc-wrap {
  max-width: 800px;
  margin: 3% auto;
}

.g-calendar {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 70%;
}

.g-calendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:767px) {

  .g-calendar {
      padding-bottom: 90%;
  }

}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.card {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
